body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
}

.header {
 background: linear-gradient(to right, #000000, #4b29d0);
  color: white;
   padding: 2px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-title {
  font-size: 36px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

nav a.active, nav a:hover {
  border-bottom: 2px solid white;
}

.main-content {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
  justify-items: center;
    display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 20px;               

}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  border: 1px solid #ddd;
  
}

.card img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #333;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.actions span {
  font-size: 18px;
  cursor: pointer;
}

.btn, .show-more {
  background: #f4f4f4;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.nav-arrow {
  background: #4b29d0;
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  align-self: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.cards-wrapper {
  display: flex;
  gap: 20px;
}
