body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #2d2d3f, #4f4fcf);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    gap: 8px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  nav {
    display: flex;

    a {
      color: white;
      text-decoration: none;
      margin-left: 20px;
      font-weight: bold;
      padding-bottom: 2px;
      transition: border-bottom 0.3s ease;

      &:hover {
        border-bottom: 2px solid white;
      }

      &.active {
        border-bottom: 2px solid white;
      }
    }
  }
}

.container {
  height: calc(100vh - 80px); // restar altura del header
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

.arrow {
  position: absolute;
  bottom: 20px;
  font-size: 24px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}
